@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');
/*
font-family: 'Domine', serif;
*/
.skeleton {
    opacity: .7;
    animation: skeleton-loading 1s linear infinite alternate;
}
.skeleton-text {
    color: #000;
    width: 100%;
    height: .5rem;
    margin-bottom: .25rem;
    border-radius: .125rem;
}
  
@keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
      background-color: hsl(200, 20%, 95%);
    }
}
  
.grid {
    background-color: #232539;
    padding: 5rem 10rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #151328;
    padding: 1rem;
    border-radius: 4px;
  }
  
  .header {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .header-img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center center;
    flex-shrink: 0;
  }
  .title {
    font-family: 'Domine', serif;
    font-size: 1.4rem;
    line-height: 2rem;
    overflow: hidden;
    font-weight: 600;
    flex-grow: 1;
    color: #D3C1D2;
  }
[data-resume]{
    font-size: 1rem;
    line-height: 1.4rem;
    text-align: justify;
    width: 100%;
    padding: 1.5rem 0;
    color: #7880B5;
  }
#dynamicLink{
    text-decoration: none;
    color: white;
    letter-spacing: 0.1rem;
    padding: 0.6rem 2rem;
    display: flex;
    justify-content: center;
    background-color: rgba(104, 44, 227, 0.77);
    transition: background-color 0.3s;
    cursor: pointer;
}
@media screen and (max-width: 1280px) {
    :root{
        font-size: 14px;
    }
    .grid {
        padding: 5rem 6rem;
    }
}
@media screen and (max-width: 1124px) {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}
@media screen and (max-width: 900px) {
    .grid {
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    :root{
        font-size: 12px;
    }
    .grid {
        padding: 5rem 3rem;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    }
}
@media screen and (max-width: 640px) {
    :root{
        font-size: 11px;
    }
}
@media screen and (max-width: 520px) {
    :root{
        font-size: 11px;
    }
    .grid {
        padding: 5rem 3rem;
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
}
@media screen and (max-width: 460px) {
    :root{
        font-size: 11px;
    }
    .grid {
        padding: 5rem 3rem;
        grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    }
    .title {
        font-family: 'Domine', serif;
        font-size: 1.8rem;
        line-height: 2.5rem;
        overflow: hidden;
        font-weight: 600;
        flex-grow: 1;
        color: #D3C1D2;
      }
    [data-resume]{
        font-size: 1.4rem;
        line-height: 2rem;
        text-align: justify;
        width: 100%;
        padding: 1.5rem 1rem;
        color: #7880B5;
      }
      
#dynamicLink{
    text-decoration: none;
    color: white;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    background-color: rgba(104, 44, 227, 0.77);
    transition: background-color 0.3s;
    cursor: pointer;
}
}

@media screen and (max-width: 325px) {
    :root{
        font-size: 10px;
    }
}